body {
  margin: 0 auto;
}

.container-form {
  padding: 20px;
  background-color: blueviolet;
}
.search-form {
  display: flex;
  margin: 0 auto;

  max-width: 300px;
}
.search-form-input {
  flex: 1;
  padding: 10px;

  border: 1px solid;
}
.submit-btn {
  border: 1px solid;
}
.gallery {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;

padding: 10px 20px;

}
.gallery__image {
width: 100%;
height: 70%;
object-fit: cover; 
}
.photo-card{
width: 300px;
height: 300px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.load-more {
  display: none;
  margin: 20px auto 20px auto;
  padding: 10px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
}
.info {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
